<style>
table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
  text-align: center;
}
table#t01 {
  width: 100%;    
  background-color: #f1f1c1;
}
</style>

<h1 style="text-align: center"> RHCE PRACTICE EXAM </h1>
<h3> Environment Information </h3>


<table id="t01">
  <tr>
    <th>Hostname</th>
    <th>IP Addr</th>
    <th>Gateway</th>
    <th>Netmask</th>
    <th>DNS</th>
  </tr>
  <tr>
    <td>server1.example.com</td>
    <td>192.168.33.11</td>
    <td>192.168.33.1</td>
    <td>255.255.255.0</td>
    <td>192.168.33.254</td>
  </tr>
  <tr>
    <td>desktop1.example.com</td>
    <td>192.168.33.22</td>
    <td>192.168.33.1</td>
    <td>255.255.255.0</td>
    <td>192.168.33.254</td>
  </tr>

</table>

 <p> The repository for these systems is located at http://classroom.example.com/repo </p>
<p></p>
<p></p>


<button onclick="myFunction()">Start Exam Timer</button>
    
    <p id="demo"></p>
    <script>
    function myFunction() {
    // Set the date we're counting down to
    var countDownDate = new Date("Jun 18, 2019 13:27:25").getTime();
    // Update the count down every 1 second
    var x = setInterval(function() {
      // Get todays date and time
      var now = new Date().getTime();
      // Find the distance between now an the count down date
      var distance = countDownDate - now;
      // Time calculations for days, hours, minutes and seconds
      var days = Math.floor(distance / (1000 * 60 * 60 * 24));
      var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
      var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
      var seconds = Math.floor((distance % (1000 * 60)) / 1000);
      // Display the result in the element with id="demo"
      document.getElementById("demo").innerHTML =  hours + "h "
      + minutes + "m " + seconds + "s ";
      // If the count down is finished, write some text 
      if (distance < 0) {
      clearInterval(x);
      document.getElementById("demo").innerHTML = "Still Working On This Feature";
      }
    }, 1000);
    }
    </script>
    
<br> <br>    
<h3> SELinux </h3>
 <p> Please ensure that SELinux is enforcing. This should be a persistent change </p>
<p></p>
<p></p>

<h3> SSH Configuration </h3>
 <p> Please ensure that no one in the .hackers.it domain can access your system via ssh. </p>
<p></p>
<p></p>

<h3> Customize User Environment </h3>
 <p> Create a command called qstat on both server1 and desktop1.</p>
 <p> It should able to execute the following command  (ps -eo
pid,tid,class) </p>
 <p>The command should be executable by all users. </p>
<p></p>
<p></p>

<h3> Configure Port Forwarding </h3>
<p> Configure server1 to forward incoming traffic on port 5243/tcp to port 80/tcp from source network
192.168.33.0/255.255.255.0  </p>
<p></p>
<p></p>

<h3> Configure IPv6 </h3>
  <p> Configure the <b>enp0s8</b> device with a static ipv6 addresses as follows.</p>
  <table id="t01">
  <tr>
    <th>Hostname</th>
    <th>IP Addr</th>
  </tr>
  <tr>
    <td>server1.example.com</td>
    <td>fe80::800:27ff:fe00:c0/64</td>
  </tr>
  <tr>
    <td>desktop1.example.com</td>
    <td>fe80::800:27ff:fe00:f7/64</td>
  </tr>

</table>
  <p>Both machines should be able to communicate within the network fe80::800:27ff:fe00/64 </p>
  <p>IPv4 communication must remain available after configuration.</p>
  <p>The changes should be permanent even after the reboot.  </p>
<p></p>
<p></p>

<h3> Configure Network Teaming </h3>
<p> Configure the <b>enp0s9</b> and <b>enp0s10</b> interfaces on server1 and desktop1, where it watches for link status changes and selects an active port for data transfers.</p>
<p> server1 should have the address as 192.168.44.11/255.255.255.0.  </p>
<p> desktop1 should have the address as 192.168.44.22/255.255.255.0. </p>
<p></p>
<p></p>


<h3>SMTP Client </h3>
<p> Configure the SMTP mail service on server1 to relay the all mail from local system
to relay01.example.com, all outgoing mail have their sender domain as example.com.
Ensure that mail should not store locally.
</p>
<p></p>
<p></p>

<h3>NFS Server </h3>
<p>Configure NFS on server1 with the following requirements.</p>
<p>Export the /teamboard directory within the example.com domain clients only, share must be writable.</p>
<p>Export the /launchcodes directory, enable krb5p security to secure access to the NFS share </p>
<p>The keytab file for server1 can be found at http://classroom.example.com/keytab/server1.keytab</p>
<p></p>
<p></p>

<h3>NFS Client </h3>
<p> Mount the /teamboard share on desktop1 under /public directory persistently at system boot time. </p>
<p>Mount the /launchcodes share with krb5p secured share on desktop1 at /secure/protected provided
with keytab http://classroom.example.com/keytab/desktop1.keytab </p>
<p></p>
<p></p>

<h3>Samba Server </h3>
<p> Share the /sambadir directory via SMB on server1 </p>
<p>Your SMB server must be a member of the TESTGROUP workgroup </p>
<p>The share name must be "data" </p>
<p>The data share must be available to example.com domain clients only </p>
<p>The data share must be browseable</p>
<p>susan must have read access to the share, authenticating with the same password “wordup”, if
necessary </p>
<p> Configure the server1 to share /opstack with SMB share name must be "cluster".</p>
<p>The user frankie should have readable and writeable access to the "cluster" SMB share.</p>
<p> The user martin has read access to the /opstack SMB share.</p>
<p> Set the password for both users to "wordup". </p>
<p></p>
<p></p>

<h3>Multi-user SMB Mount </h3>
<p> Mount the samba share "cluster" permanently at /mnt/smbspace on desktopX as a multiuser mount.
<p>The samba share should be mounted with the credentials of frankie.</p>
<p></p>
<p></p>

<h3> Webserver </h3>
<p>- Implement a webserver for the site http://server1.example.com </p>
<p>- Download the webpage from http://classroom.example.com/pub/rhce.html </p>
<p>- rename the downloaded file in to index.html. </p>
<p>- copy the file into the document root. </p>
<p>- Do not make any modification with the content of the index.html. </p>
<p>- Clients within my22ilt.org should NOT access the webserver on your systems </p>

<h3>Virtual hosting </h3>
<p>- Setup a virtual host with an alternate document root. </p>
<p>- Extend your web to include a virtual for the site http://rollout.example.com </p>
<p>- Set the document root as /usr/local/vhosts </p>
<p>- Download http://classroom.example.com/pub/vhost.html </p>
<p>- rename it as index.html </p>
<p>- place this document root of the virtual host </p>
<p>- Note: The other websites configured for your server must still accessible. </p>
<p> rollout.example.com is already provide by the name server on example.com </p>


<h3>Dynamic Webpage Configuration. </h3>
<p>- configure website http://time.example.com:8961 on system1 with the documentroot /var/www/scripts </p>
<p>- Site should executes webapp.wsgi. </p>
<p>- Page is already provided on http://classroom.example.com/epoch.py </p>
<p>- Content of the script should not be modified. </p>

<h3>Apache with SSL. </h3>
<p> Please configure the website https://server1.example.com with TLS </p>
<p> - SSLCertificate file http://classroom.example.com/pki/tls/certs/server1.crt </p>
<p> - SSLCertificatekeyfile http://classroom.example.com/pki/tls/private/server1.key </p>
<p> - SSL CA certificate file http://classroom.example.com/pki/example_ca.crt </p>


<h3> Configure iSCSI Storage </h3>
<p> - Create a new 100M target on your server1.example.com. </p>
<p> - The block device name should be data_block </p>
<p> - The server should export an iscsi disk called iqn.2020-02.com.example:server1. </p>
<p> - This target should only be allowed to desktop1 </p>

<h3> Configure iSCSI Initiator</h3>
<p> - The server1.example.com provides an iscsi port(3260).
connect the disk with desktopX.example.com and configure filesystem with the following requirements. </p>
<p> - Create 80MB partition on ISCSI block device and assign the filesystem as xfs. </p>
<p> - Mount the volume under /mnt/initiator at the system boot time. </p>

<h3>SMTP Configuration.</h3>
<p> - Configure the SMTP mail service on server1 and desktop1 which relay the mail only from local system
through classroom.example.com, all outgoing mail have their sender domain as example.com. </p>
<p> - Ensure that mail should not store locally.</p>

<h3> MariaDB Conguration</h3>
<p> - Restore a database on server1 from the backup
file http://classroom.example.com/pub/backup.mdb
- The database name should be classicmodels. The database should not be accessed by any other machine, meaning no external access to this database should be configured </p>
<p> - Set a password for root user as "redhat". Other than the root user, the user andrew able to read the
query from the above mentioned database. The user should be authenticated with the password
as "thirdwheel". </p>

<h3>MariaDB Query</h3>
<p> - In what city does the President of the company work in? </p>
<p> - In what city does Martin Gerard's manager work in? </p>
<p> - What is the last name of the customer for order # 10248 </p>
<p> - Bonus: How many disputed claims where made from clients in the Year 2005? </p>

<p>- Create a script on server1 called /root/random with following details:</p>
<p>- When running the script as /root/random postconf, should bring the output as "postroll"</p>
<p>- When running the script  as /root/random postroll, should bring the output as "postconf"</p>
<p>- When running the script with any other argument or without argument,
should bring the stderr as "/root/random postconf|postroll"</p>


<p>- Create a script on server1 called /root/createusers</p>
<p>- When this script is called with the argument, it should add all the users from the file ‘testfile’</p>
<p>- Download the file from http://station.network0.example.com/pub/testfile </p>
<p>- All users should have the login shell as /bin/false, password not required.</p>
<p>- When this script is called with any other argument, it should print the message as "Input File Not
Found"</p>
<p>- When this script is run without any argument, it should display "Usage: /root/createusers"</p>
<p>- NOTE: If the users are added no need to delete.</p>



